In [ ]:
Домашнее задание
Задание
Задача 44: В ячейке ниже представлен код генерирующий DataFrame, которая состоит всего
из 1 столбца. Ваша задача перевести его в one hot вид. Сможете ли вы это сделать без
get_dummies?
import random
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})
data.head()

In [5]:
# генерация dataFrame
import pandas as pd
import random
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})
data.head()

  whoAmI
0  robot
1  human
2  robot
3  human
4  robot

In [11]:
# функция кодирования по заданным параметрам
def convert(actual_value, except_value):
  return 1 if actual_value == except_value else 0

# кодирование в one hot
data.loc[:, 'is_robot'] = data['whoAmI'].apply(lambda x: convert(x, 'robot'))
data.loc[:, 'is_human'] = data['whoAmI'].apply(lambda x: convert(x, 'human'))
data.head(20)

   whoAmI  is_robot  is_human
0   robot         1         0
1   human         0         1
2   robot         1         0
3   human         0         1
4   robot         1         0
5   robot         1         0
6   human         0         1
7   human         0         1
8   robot         1         0
9   robot         1         0
10  robot         1         0
11  robot         1         0
12  robot         1         0
13  human         0         1
14  human         0         1
15  human         0         1
16  human         0         1
17  human         0         1
18  human         0         1
19  robot         1         0